<% content_for :title do %>
  <%= @check_list.title %>
<% end %>

<% content_for :head do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="<%= manifest_check_list_path(@check_list, :json) %>">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="<%= @check_list.title %>">
  <link rel="apple-touch-icon" href="<%= asset_path 'icon-152x152.png' %>">
  <meta name="msapplication-TileImage" content="<%= asset_path 'icon-144x144.png' %>">
  <meta name="msapplication-TileColor" content="#2F3BA2">
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
<% end %>

<nav class="navbar navbar-dark bg-secondary">
  <span class="navbar-brand mb-0 h1">
    <%= @check_list.title %>
  </span>

  <%= link_to cleanup_check_list_path, method: :post, data: { confirm: 'Delete checked items?' }, class: 'btn btn-warning btn-circle' do %>
    <%= image_tag 'erase.png', height: 20 %>
  <% end %>
</nav>

<div class="list-group">
  <div class="list-group-item">
    <%= form_for [ @check_list, @item ], html: { class: 'form-inline' } do |f| %>

      <div class="form-group mr-3 mb-0">
        <%= f.text_field :name, required: true, autocomplete: 'off', class: 'form-control', style: 'padding-left: 30px' %>
        
      </div>
      <%= image_tag 'mic.png', id: 'item_name_mic', height: 20, onclick: 'record();', style: 'position: absolute; cursor: pointer; left: 25px;' %>
    
      <%= f.submit '+', class: 'btn btn-primary mb-0' %>
    
    <% end %>
  </div>

  <% @items.each do |item| %>
    <%= link_to check_list_item_path(@check_list, item, item: { checked: !item.checked }), method: :patch, remote: true, class: 'list-group-item list-group-item-action' do %>
      <% if item.checked %>
        <big style="color: darkgray"><strike><%= item.name %></strike></big>
      <% else %>
        <big><%= item.name %></big>
      <% end %>
    <% end %>
  <% end %>
</div>

<script src="<%= app_check_list_path(@check_list, :js) %>" async></script>

<script>
function record() {
  var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
  var recognition = new SpeechRecognition();
  recognition.lang = 'de-DE';
  recognition.onresult = function(event) { 
    document.getElementById('item_name').value = event.results[0][0].transcript;
  }

  recognition.onstart = function(event) {
    document.getElementById("item_name_mic").style.webkitFilter = "blur(5px)";
  }

  recognition.onend = function(event) {
    document.getElementById("item_name_mic").style.webkitFilter = "";
  }

  recognition.start();
}

// request permissions to use microphone
navigator.mediaDevices.getUserMedia({ audio: true });
      
</script>
